.field {
    $dimension: 75px;
    width: $dimension;
    height: $dimension;
    border: 1px solid darkslategray;
    box-sizing: content-box;

    &.selected {
        background: {
            image: url('/assets/images/robot.jpg');
            position: center;
            repeat: no-repeat;
            size: 125%;
        };

        &.north {
            
            transform: rotate(0);
        }

        &.east {
            transform: rotate(90deg);
        }

        &.south {
            transform: rotate(180deg);
        }

        &.west {
            transform: rotate(270deg);
        }
    }
}