.grid {
    display: flex;
    justify-content: center;

    .actions {
        display: flex;
        flex-direction: column;
        margin-left: 25px;

        button {
            margin-bottom: 20px;
        }

    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        
        $dimension: 375px;
        height: $dimension;
        width: $dimension;
        border: 1px solid darkslategray;
        
        .row {
            display: flex;
        }
    }
}